.caixa{
    background-color: #3F51B5;
}

.titulo{
   color: white !important;
   font-weight: bold !important;
}

.botao{
    border-color: white !important;
    background-color: #3F51B5;
    color: white !important;
}

.postagens{
    background-color: rgb(255, 255, 255);
}

.right {
    float:right; margin-right:0; margin-left:10px; margin-bottom:5px;
}

